<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:href="@{/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:href="@{/js/jquery-3.1.1.min.js}"/>-->
    <link rel="stylesheet" th:href="@{/css/navigateone.css}"/>
</head>
<body>


<div class="navigateone">
    <div class="row">

        <h2 style="margin-left: 40%; margin-top: 30px"><font color="#f0ffff">学校工资管理系统</font></h2>
    </div>




</div>
<div class="container blog-content-container">


    <br>
    <table class="table table-hover">
        <thead>

        <tr >

            <td>员工编号</td>
            <td>员工名</td>
            <td>性别</td>
            <td>年龄</td>
            <td>部门</td>
            <td>职称</td>
            <td>用户操作</td>


        </tr>
        </thead>
        <tbody>


        <tr th:each="Teacher:${userModel.Teacher}">


            <td th:text="${Teacher.Tno}"></td>
            <!--<td><a href="/title.html" th:text="${Teacher.Tname}" th:href="@{'/user/'+${Teacher.Tno}}"/></td>-->
            <td th:text="${Teacher.Tname}"></td>
            <td th:text="${Teacher.Tsex}"></td>
            <td th:text="${Teacher.Tage}"></td>
            <td th:text="${Teacher.Depart}"></td>
            <td th:text="${Teacher.Title}"></td>
            <td><a th:href="@{'/user/modify/'+${Teacher.Tno}}">
                <button class="btn btn-warning btn-sm">修改用户信息</button>

            </a>
                <a th:href="@{'/title/inquire/'+${Teacher.Tno}}">
                    <button class="btn btn-primary btn-sm">职称变化</button>

                </a>
                <a th:href="@{'/attendance/inquire/'+${Teacher.Tno}}">
                    <button class="btn btn-danger btn-sm">考勤</button>

                </a>
                <a th:href="@{'/basicwage/inquire/'+${Teacher.Title}}">
                    <button class="btn btn-info btn-sm">基本工资</button>

                </a>
                <a th:href="@{'/pay/inquire/'+${Teacher.Tno}}">
                    <button class="btn btn-success btn-sm">工资</button>

                </a>
            </td>

        </tbody>

    </table>
</div>
</div>


</body>


</html>