<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/navigateone.css}"/>
</head>
<body>
<div class="navigateone">
    <div class="row">

        <h2 style="margin-left: 40%; margin-top: 30px"><font color="#f0ffff">学校工资管理系统</font></h2>
    </div>

    <div class="input-group col-md-2" style="margin-left:70%; margin-bottom: 20px ; height: 30px; ">
        <input type="text" class="form-control" placeholder="请输入员工编号" style="width: 20px"/>
        <span class="input-group-btn">
               <button class="btn btn-info btn-search">查找</button>
                    </span>
    </div>
</div>
<div class="container" style="width: 30%">
    <form action="/attendance/" th:action="@{/attendance}" method="post" th:object="${attendModel.attendance}" role="form">

        <div class="form-group">
            <br>员工编号：
            <input type="text" name="Tno" class="form-control" th:value="*{Tno}" placeholder="tno"/>

        </div>
        <div class="form-group">

            <br>加班次数：
            <input type="text" name="Overtime" th:value="*{Overtime}" class="form-control" placeholder="title1"/>
        </div>
        <div class="form-group">
            <br> 缺勤次数：
            <input type="text" name="Absence" th:value="*{Absence}" class="form-control" placeholder="title2 "/>

        </div>
        <div class="form-group">

            <br>月份：
            <input type="text" name="Dates" th:value="*{Dates}" class="form-control" placeholder="Dates"/>
        </div>

        <input type="submit" class="btn btn-primary btn-block" value="提交"/>


    </form>
</div>
</body>
</html>